*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

body{
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50rem 130rem 10rem;
    row-gap: 20px;
}


/* Cabecera */ 
header{
    grid-row: 1;
    grid-column: 1 / 5;
    align-content: center;
    background: url("../Imgs/fondoHeader.jpg");
    background-size: cover;
    background-position: 20%;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
#circuloH{
    width: 100%;
    height: min-content;
    background-color: #FFFAFA;
    align-content: center;
    right: 200px;
}
#textoH{
    margin-bottom: 20px;
    color: #FF1493;
}
#botonesH{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    height: 3rem;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 1.5rem;
}
#botonesH button{
    color: #FFFAFA;
    background-color: #FFA500;
    border-style: none;
    font-size: 1rem;
    border-radius: 20px;
    padding: 10px;
}


/* Contenido principal*/
main{
    grid-row: 2;
    grid-column: 1 / 5;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
/*Seccion Contamos con*/
#contamosCon{
    display: flex;
    flex-direction: column;
    column-gap: 20px;
}
#textoCC{
    margin-bottom: 20px;
}
.carrusel{
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
.card img{
    width: 30rem;
    height: 20rem;
}
/*Seccion Sobre nosotros*/
#sobreNos{
    display: flex;
    flex-direction: column;
}
#textoSN{
    margin-bottom: 20px;
}
#imagenesSB img{
    width: 100%;
    height: 20rem;
    margin-bottom: 20px;
}
/*Seccion Detalles y consultas*/
#detallesYConsultas{
    background: url("../Imgs/entradaSalon2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: 30%;
    align-content: center;
    height: 100%;
    color: #FFFAFA;
}
#detalle{
    margin-bottom: 40px;
}
/* Pie de página*/
footer{
    grid-row: 3;
    grid-column: 1 / 5;
}
#redesSoc{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
footer i{
    font-size: 60px;
}