*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

/* Inicio */
body{
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}



/* Contamos con y sobre nosotros */
main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
 
/* Pie de pagina */